<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Categorylist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add Category:</h1>
	<div>
		<form th:object="${category}" th:action="@{savecategory}" action="#" method="post">
			<label for="name">Name </label> <input type="text" id="name"
				th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input class="btn btn-success" type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>